/* style_index.css 統括本部用CSS */

/*============
全体の設定
=============*/
html,body,h1,h2,h3{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-align: center;
}
html { font-size: 62.5%; }  /* font-sizeは16pxの62.5%の10px */
body { font-size: 1.6rem; } /*font-size : 16px と同等*/
h1 { font-size: 3.2rem; }   /* font-size: 32px と同等 */
h2 {
  font-size: 2.4rem;        /* font-size: 24px と同等 */
  position: relative;
  padding: 0.2rem 1rem 1.5rem;
}
h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  content: '';
  background-image: -webkit-repeating-linear-gradient(135deg, #000, #000 1px, transparent 2px, transparent 5px);
  background-image: repeating-linear-gradient(-45deg, #000, #000 1px, transparent 2px, transparent 5px);
  background-size: 7px 7px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
li{
	list-style: none;
}
a,
a:visited,
a:hover,
a:active {
  color: #333;
  text-decoration: none;
}
textarea{
  min-height: 3.2rem;
  max-height: 16rem;
  resize: vertical;
}
p{
  line-height: 120%;
}

/*============
body
=============*/

/*画面4分割 */
.outerframe{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.uppercolumn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.lowercolumn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.upperleft{
  width: 800px;
  height: 380px;
  background-color: rgba(216,112,147,0.8);
  border-radius: 20px;
}
.upperright{
  width: 400px;
  height: 380px;
  background-color: rgba(176,224,230,1); 
}
.lowerleft{
  width: 600px;
  height: 300px;
  background-color: rgba(176,224,230,1);
}
.lowerright{
  width: 600px;
  height: 300px;
  background-color: rgba(0,128,128,1);
  border-radius: 20px;
  color: #fff;
}

/* 避難状況の表 */
#hinansha{
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;  /* セルの線を重ねる */
}
th,td {
  font-weight: normal;
  border: solid 2px;          /* 枠線指定 */
  border-color: rgba(176,224,230,1);
  background-color: #fff;
  width:  90px;              /* 幅指定 */
  height: 38px;               /* 高さ指定 */
}
th{
  height: 52px;               /* 高さ指定 */
}
span{
  font-size: smaller;
}
span.kara{
  font-size: smaller;
  color: rgba(176,224,230,1);
}

/* ニュースティッカー */
#ul_news {
    display: none;
}
div.tick {
  margin-right:auto;
  margin-left: auto;
    width: 500px;
    height:220px;
    line-height: 30px;
    text-align: left;
    border: solid 1px silver;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
div.tick a {
    position: absolute;
    margin-left: 10px;
    font-size: 1.0em;
    color: gray;
}


/* type="number"のinput欄の幅 */
input[type="number"] {
  width: 10rem;
}
.div-wrap{
	margin: auto;
	width: 28rem;
	text-align: left;
}
/* 送信ボタンの設定 */
.send-btn{
  margin-bottom: 3.2rem;
  width: 14rem;
  background-color: white;
  border-radius: 0.5rem;
}
.send-btn:hover {
  background-color: rgba(0,128,128,1);
  color: #fff;
}
.send-btn[disabled] {
  background-color: #666;
  cursor: not-allowed;
}

/*============
chat
=============*/

#chatHonbu{
  background-color: rgba(176,224,230,1);
  font-weight: normal;
  border: solid 2px;          /* 枠線指定 */
  border-color: rgba(176,224,230,1);
}
.chat-th,
.chat-tr{
  margin-top: 0;
  padding: 0 auto;
  background-color: rgba(176,224,230,1);
  font-weight: normal;
  border: solid 2px;          /* 枠線指定 */
  border-color: rgba(176,224,230,1);
}


/* 左からの吹き出し */
.left_balloon {
    background: #f1f0f0;
    border: 0 solid #777;
    margin: 0.5rem 1rem;
    padding: 0.5rem 1.5rem;
    border-radius: 1.5rem;
    width: 22rem;
    clear: both;
}

/* 右からの吹き出し */
.right_balloon {
    color: #fff;
    background: rgba(0,128,128,0.6);
    border: 0 solid #777;
    margin: 0.5rem 0;
    padding: 0.5rem 1.5rem;
    border-radius: 1.5rem;
    width: 22rem;
    clear: both;
    float: right;
}

/* 割り込みを解除 */
.clear_balloon{
  clear: both;
}

.sender_name{
    margin-bottom: -0.2rem;
    padding-left: 1rem;
    color: rgba(0, 0, 0,0.4);
}
.sender_name.me{
    float: right;
    padding: 0 2rem 0 0;
}
.sender_date{
  font-size: smaller;
}
